:root {
    --custom-grey: #d8d5d1;
    --light-blue: #74C2E1;
    --ocean-blue: #0191C8;
    --dark-blue: #005B9A;
}

body {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.left,
.right {
    width: 25%;
    background-color: red
}

.main-section {
    background-color: var(--light-blue);
    margin-top: -30px;
}

.middle {
    width: 50%;
    padding-right: 25%;
    padding-left: 25%;
    padding-bottom: 5%;
    background-color: var(--light-blue);
}

.column {
    display: inline-block;
    height: 70%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.center {
    margin: 0 auto;
}

.mainnav {
    background-color: var(--custom-grey);
    text-align: center;
    margin: 0 auto;
}

.mainnav ul {
    display: inline-block;
}

.main-table {
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}

.main-table th,
td {
    border: 1px solid black;
    height: 20px;
    width: 180px;
}

.form-table td {
    border: none;
}

.form-div {
    border: 1px solid black;
    padding: 12px;
    margin-top: 12px;
    width: 600px;
}

.appearance-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    color: black;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    font-size: 12px;
}

footer {
    margin-top: 0%;
    padding-top: 0%;
    width: 100%;
    height: 5%;
    background-color: var(--custom-grey);
    text-align: center;
}

img {
    display: block;
    position: relative;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-bottom: 0%;
}

p {
    /* margin: 0%; */
    margin-top: 50px;
    text-align: center;
}

header {
    height: 100%;
    text-align: center;
    font-size: larger;
    background-color: var(--dark-blue);
    margin-top: 0;
    padding-top: 0;
}

li {
    float: left;
    margin-left: 2em;
    margin-right: 2em;
}

ul {
    /* padding-top: 20%;
    padding-bottom: 20%; */
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

table {
    border-spacing: 2px;
    border-collapse: separate;
}

h2 {
    display: block;
    margin-top: 65px;
}

input {
    width: 175px;
}

select {
    width: 182px;
}

textarea {
    width: 175px;
}