<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>FAA Database</title>
</head>
{% block content %}

<body>
    <header>
        <h1>FAA Database</h1>
    </header>
    {% include 'nav.j2' %}
    <div class="main-section">
        <div class="center">
            <h2 style="text-align: center">
                Airlines
            </h2>
        </div>
        <div class="form-div center">
            <h3>
                Update Airline
            </h3>

            <table class="main-table" id="airlines-table">
                <thead>
                    <tr>
                        <th scope="col">Airline ID</th>
                        <th scope="col">Current Airline Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">{{ airlines['airline_id'] }}</td>
                        <td scope="row">{{ airlines['name'] }}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <form id="update-airline-form" action="/update_airline/{{ airlines['airline_id'] }}" method="post">
                <div>
                    <label for="airline-name">New Airline Name: </label>
                    <input type="text" id="airline-name" name="airline-name" value="{{ airlines['name'] }}" required>
                </div>
                <br>
                <div>
                    <input class="appearance-button" type="submit" value="Update">
                    <input class="appearance-button" type="reset" value="Reset">
                </div>
            </form>
        </div>
    </div>
    <footer>
        <p>Page by Roman and Matthew ©2023</p>
    </footer>
</body>
{% endblock %}

</html>