<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>FAA Database</title>
</head>

{% block content %}
<body>
    <header>
        <h1>FAA Database</h1>
    </header>
    {% include 'nav.j2' %}

    <div class="main-section">

        <div class="center">
            <h2 style="text-align: center">
                Airlines
            </h2>
        </div>
        <h3 style="text-align: center">
            Browse Existing Airlines
        </h3>
        <table class="main-table center" id="airlines-table">
            <thead>
                <tr>
                    <th scope="col">Airline ID</th>
                    <th scope="col">Airline Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for airline in airlines %}
                <tr>
                    <td scope="row">{{ airline['airline_id'] }}</td>
                    <td scope="row">{{ airline['name'] }}</td>
                    <td scope="row">
                        <form action="update_airline/{{ airline['airline_id'] }}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td scope="row">
                        <form action="delete_airline/{{ airline['airline_id'] }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="form-div center">
            <h3>
                Search Airline
            </h3>
            <form id="search-airline-form">
                <table class="form-table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="search-airline-name">Airline Name: </label>
                            </td>
                            <td>
                                <input type="text" name="search-airline-name" id="search-airline-name">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <button>Search</button>
                    <button>Reset</button>
                </div>
            </form>
        </div>

        <div class="form-div center">
            <h3>
                Create Airline
            </h3>
            <form id="add-airline-form">
                <table class="form-table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="input-airline-id">Airline ID: </label>
                            </td>
                            <td>
                                <input type="text" name="input-airline-id" id="input-airline-id" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-airline-name">Airline Name: </label>
                            </td>
                            <td>
                                <input type="text" name="input-airline-name" id="input-airline-name" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <button>Create</button>
                    <button>Cancel</button>
                </div>
            </form>
        </div>


    </div>

    <footer>
        <p>Page by Roman and Matthew ©2023</p>
    </footer>
</body>
{% endblock %}

</html>