<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>FAA Database</title>
</head>

{% block content %}

<body>
    <header>
        <h1>FAA Database</h1>
    </header>
    
    {% include 'nav.j2' %}

    <div class="main-section">
        <div class="center">
            <h2 style="text-align:center">
                Airlines-Airports
            </h2>
        </div>
        <h3 style="text-align: center">
            Browse Existing Airlines-Airports
        </h3>
        <table class="main-table center" id="airlines-airports-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Airline Name</th>
                    <th>Airport Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td scope="row">{{ transaction['airline_airport_id'] }}</td>
                        <td scope="row">{{ transaction['airline_name'] }}</td>
                        <td scope="row">{{ transaction['airport_name'] }}</td>
                        <td scope="row">
                            <form action="delete_airlines_airports/ {{ transaction['airline_airport_id'] }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-div center">
            <h3>Create Airline-Airport Transaction</h3>
            <form id="add-airline-airport-transaction" method="post">
                <table class="form-table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="input-airline-id-transaction">Airline: </label>
                            </td>
                            <td>
                                <select type="text" name="input-airline-id-transaction" id="input-airline-id-transaction" required>
                                    <option hidden>Select an Airline</option>
                                    {% for airline in airlines %}
                                        <option value="{{ airline['airline_id'] }}">
                                            {{ airline['airline_info'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-airport-id-transaction">Airport: </label>
                            </td>
                            <td>
                                <select type="text" name="input-airport-id-transaction" id="input-airport-id-transaction" required>
                                    <option hidden>Select an Airport</option>
                                    {% for airport in airports %}
                                        <option value="{{ airport['airport_id'] }}">
                                            {{ airport['airport_info'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>*Required</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <button type="submit">Create</button>
                    <button type="reset">Cancel</button>
                </div>
            </form>
        </div>
        <br>
    </div>
    <footer>
        <p>Page by Roman and Matthew ©2023</p>
    </footer>
</body>

{% endblock %}

</html>