<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>FAA Database</title>
</head>

{% block content %}

<body>
    <header>
        <h1>FAA Database</h1>
    </header>

    {% include 'nav.j2' %}

    <div class="main-section">
        <div class="center">
            <h2 style="text-align: center">
                Airports
            </h2>
        </div>
        <h3 style="text-align: center">
            Browse Existing Airports
        </h3>
        <table class="main-table center" id="airports-table">
            <thead>
                <tr>
                    <th scope="col">Airport ID</th>
                    <th scope="col">Airport Name</th>
                    <th scope="col">Airport Location</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for airport in airports %}
                <tr>
                    <td scope="row">{{ airport['airport_id'] }}</td>
                    <td scope="row">{{ airport['name'] }}</td>
                    <td scope="row">{{ airport['location'] }}</td>
                    <td scope="row">
                        <form action="update_airport/{{ airport['airport_id'] }}">
                            <button class="appearance-button" type="submit">Edit</button>
                        </form>
                    </td>
                    <td scope="row">
                        <form action="delete_airport/{{ airport['airport_id'] }}">
                            <button class="appearance-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-div center">
            <h3>
                Create Airport
            </h3>
            {% if error%}
            <div><strong>Error: {{ error }}</strong></div>
            <br>
            {% endif %}
            <form id="add-airport-form" method="post">
                <table class="form-table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="input-airport-id">Airport ID: </label>
                            </td>
                            <td>
                                <input type="text" name="input-airport-id" id="input-airport-id" maxlength="3" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-airport-name">Airport Name: </label>
                            </td>
                            <td>
                                <input type="text" name="input-airport-name" id="input-airport-name" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-airport-location">Airport Location: </label>
                            </td>
                            <td>
                                <input type="text" name="input-airport-location" id="input-airport-location" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <input class="appearance-button" type="submit" value="Create">
                    <input class="appearance-button" type="reset" value="Cancel">
                </div>
            </form>
        </div>
        <br>
    </div>
    <footer>
        <p>Page by Roman and Matthew ©2023</p>
    </footer>
</body>
{% endblock %}

</html>