<!DOCTYPE html>
<html>

<head>
    <title>FAA Database</title>
    <link rel="stylesheet" href="../static/css/main.css" />
</head>

{% block content %}
<body>
    <p>An error occurred. Unable to perform requested action.</p>
    <p>Error: {{ error }}</p>
</body>
{% endblock %}
</html>