<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>FAA Database</title>
</head>

<body>
    <header>
        <h1>FAA Database</h1>
    </header>
    <nav class="mainnav">
        <div class="">
            <ul>
                <li>
                    <a title="Home page" href="./">Home</a>
                </li>
                <li>
                    <a title="Airlines page" href="./airlines">Airlines</a>
                </li>
                <li>
                    <a title="Airports page" href="./airports">Airports</a>
                </li>
                <li>
                    <a title="Flights page" href="./flights">Flights</a>
                </li>
                <li>
                    <a title="Planes page" href="./planes">Planes</a>
                </li>
                <li>
                    <a title="Airlines-Airports page" href="./airlines_airports">Airlines-Airports</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-section">
        <div class="center">
            <h2 style="text-align: center">
                Flights
            </h2>
        </div>
        <div class="center">
            <table class="main-table center" id="flights-table">
                <thead>
                    <tr>
                        <th>Flight ID</th>
                        <th>Plane ID</th>
                        <th>Manufacturer</th>
                        <th>Airline Name</th>
                        <th>Departure Time</th>
                        <th>Arrival Time</th>
                        <th>Origin Airport Name</th>
                        <th>Destination Airport Name</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>Airbus</td>
                        <td>Delta Airlines</td>
                        <td>2022-01-01 09:00:00</td>
                        <td>2022-01-01 11:00:00</td>
                        <td>Dallas Fort Worth International Airport</td>
                        <td>LaGuardia Airport</td>
                        <td>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>1</td>
                        <td>Airbus</td>
                        <td>Delta Airlines</td>
                        <td>2022-05-06 14:22:22</td>
                        <td>2022-05-06 19:12:34</td>
                        <td>Los Angeles International Airport</td>
                        <td>Hartsfield-Jackson Atlanta International Airport</td>
                        <td>
                            <button>Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-div center">
            <h3>
                Create Flight
            </h3>
            <form class="form-table" id="add-flight-form">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <label for="input-plane-id">Plane ID: </label>
                            </td>
                            <td>
                                <input type="number" name="input-plane-id" id="input-plane-id" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-departure-time">Departure Time: </label>
                            </td>
                            <td>
                                <input type="datetime-local" step="1" name="input-departure-time" id="input-departure-time">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-arrival-time">Arrival Time: </label>
                            </td>
                            <td>
                                <input type="datetime-local" step="1" name="input-arrival-time" id="input-arrival-time">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-origin-airport-id">Origin Airport ID: </label>
                            </td>
                            <td>
                                <select type="text" name="input-origin-airport-id" id="input-origin-airport-id" required>
                                    <option value="origin-airport-id">Select an Airport ID</option>
                                    <option value="DFW">DFW</option>
                                    <option value="LGA">LGA</option>
                                </select>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-destination-airport-id">Destination Airport ID: </label>
                            </td>
                            <td>
                                <select type="text" name="input-destination-airport-id" id="input-destination-airport-id" required>
                                    <option value="destination-airport-id">Select an Airport ID</option>
                                    <option value="DFW">DFW</option>
                                    <option value="LGA">LGA</option>
                                </select>
                            </td>
                            <td>*Required</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <button>Create</button>
                    <button>Cancel</button>
                </div>
            </form>
        </div>
        <br>
        <div class="form-div center">
            <h3>
                Update Flight
            </h3>
            <form id="update-flight-form">
                <table class="form-table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="update-flight-id">Select Flight ID: </label>
                            </td>
                            <td>
                                <select type="number" name="update-flight-id" id="update-flight-id" required>
                                <option value="flight">Select a Flight ID</option>
                                <option value="1">1</option>
                        </select>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="update-plane-id">Plane ID: </label>
                            </td>
                            <td>
                                <input type="number" name="update-plane-id" id="update-plane-id" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="update-departure-time">Departure Time: </label>
                            </td>
                            <td>
                                <input type="datetime-local" step="1" name="update-departure-time" id="update-departure-time">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="update-arrival-time">Arrival Time: </label>
                            </td>
                            <td>
                                <input type="datetime-local" step="1" name="update-arrival-time" id="update-arrival-time">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="update-origin-airport">Origin Airport ID: </label>
                            </td>
                            <td>
                                <select type="text" name="update-origin-airport-id" id="update-origin-airport-id" required>
                                    <option value="origin-airport-id">Select an Airport ID</option>
                                    <option value="DFW">DFW</option>
                                    <option value="LGA">LGA</option>
                                </select>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="update-destination-airport">Destination Airport ID: </label>
                            </td>
                            <td>
                                <select type="text" name="update-destination-airport-id" id="update-destination-airport-id" required>
                                    <option value="destination-airport-id">Select an Airport ID</option>
                                    <option value="DFW">DFW</option>
                                    <option value="LGA">LGA</option>
                                </select>
                            </td>
                            <td>*Required</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <button>Update</button>
                    <button>Cancel</button>
                </div>
            </form>
        </div>
        <br>
    </div>
    <footer>
        <p>Page by Roman and Matthew ©2023</p>
    </footer>
</body>

</html>