<!DOCTYPE html>
<html>

<head>
    <title>FAA Database</title>
    <link rel="stylesheet" href="../static/css/main.css" />
</head>

<body>
    <header>
        <h1>FAA Database</h1>
    </header>
    <nav class="mainnav">
        <div>
            <ul>
                <li>
                    <a title="Home page" href="./">Home</a>
                </li>
                <li>
                    <a title="Airlines page" href="./airlines">Airlines</a>
                </li>
                <li>
                    <a title="Airports page" href="./airports">Airports</a>
                </li>
                <li>
                    <a title="Flights page" href="./flights">Flights</a>
                </li>
                <li>
                    <a title="Planes page" href="./planes">Planes</a>
                </li>
                <li>
                    <a title="Airlines-Airports page" href="./airlines_airports">Airlines-Airports</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-section">
        <p>Welcome to the FAA database! Here, you can create, view, edit and delete records for airplanes, airlines,
            flights and airports. Give it a try!</p>
        <img src="../static/img/home_page_plane.jpg" class="center">
    </div>
    <footer>
        <p>Page by Roman and Matthew ©2023</p>
    </footer>
</body>

</html>