<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css" />
    <title>FAA Database</title>
</head>

{% block content %}

<body>
    <header>
        <h1>FAA Database</h1>
    </header>
    {% include 'nav.j2' %}

    <div class="main-section">
        <div class="center">
            <h2 style="text-align: center">
                Planes
            </h2>
        </div>
        <h3 style="text-align: center">
            Browse Existing Planes
        </h3>
        <table class="main-table center" id="planes-table">
            <thead>
                <tr>
                    <th scope="col">Plane ID</th>
                    <th scope="col">Airline Name</th>
                    <th scope="col">Passenger Capacity</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for plane in planes %}
                <tr>
                    <td scope="row">{{ plane['plane_id'] }}</td>
                    {% if plane['airline_id'] %}
                        <td scope="row">
                            {{ plane['airline_name'] }}
                        </td>
                    {% else %}
                        <td scope="row"></td>
                    {% endif %}
                    <td scope="row">{{ plane['passenger_capacity'] }}</td>
                    {% if plane['manufacturer'] %}
                        <td scope="row">
                            {{ plane['manufacturer'] }}
                        </td>
                    {% else %}
                        <td scope="row"></td>
                    {% endif %}
                    <td scope="row">
                        <form action="update_plane/{{ plane['plane_id'] }}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td scope="row">
                        <form action="delete_plane/{{ plane['plane_id'] }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-div center">
            <h3>
                Create Plane
            </h3>
            <form id="add-plane-form" method="post">
                <table class="form-table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="input-airline-id">Airline: </label>
                            </td>
                            <td>
                                <select type="text" name="input-airline-id" id="input-airline-id">
                                    <option hidden>Select an Airline</option>
                                    {% for airline in airlines %}
                                    <option value="{{ airline['airline_id'] }}">
                                        {{ airline['airline_info'] }}
                                    </option>
                                    {% endfor %}
                                    <option value="null">NULL</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-passenger-capacity">Passenger Capacity: </label>
                            </td>
                            <td>
                                <input type="number" min="1" max="1000" name="input-passenger-capacity"
                                    id="input-passenger-capacity" required>
                            </td>
                            <td>*Required</td>
                        </tr>
                        <tr>
                            <td>
                                <label for="input-manufacturer">Manufacturer: </label>
                            </td>
                            <td>
                                <input type="text" name="input-manufacturer" id="input-manufacturer">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <div>
                    <button type="submit">Create</button>
                    <button type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <p>Page by Roman and Matthew ©2023</p>
    </footer>
</body>
{% endblock %}

</html>